* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
    background-color: black;
}
    .body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .header {
        background-color: black;
        color: white;
        padding: 2rem 2rem;
    }

    .container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .name {
        font-size: 2rem;
        font-weight: bold;
    }
    .name{
        text-shadow: 0 0 25px aqua;
        transform: scale(1.1);
    }

    .nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .nav ul li {
        margin-left: 3rem;
    }

    .nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
    }

    .nav ul li a:hover {
        text-decoration: none;
    }
    .nav a:hover,
    .nav a.active{
        color: aqua;
        border-bottom: solid aqua;
    }

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 28rem;
}

.img {
    margin-right: 10rem;
    margin-left: 10rem;
}

.img img {
    max-width: 25rem;
    height: auto;
    border-radius: 50rem;
}

.tekst1 {
    padding-top: 5rem;
    padding-right: 15rem;
}

.tekst1 h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: aqua;
}

.tekst1 h3 {
    color: white;
    font-size: 1.5rem;
}

.container2 {
    font-size: 1.2rem;
    margin-top: 2rem; /* Adjust this margin if needed */
    margin-bottom: 1rem;
}

.hardskills-container h1 {
    margin-top: 1rem;
    margin-left: 3rem;
}

.hardskills-time1 {
    justify-content: center;
    margin-top: 4rem;
    margin-left: 8rem;
    color: aqua;
}

.hardskills-time2 {
    justify-content: center;
    margin-top: 4rem;
    margin-left: 8rem;
    color: aqua;
}

.hardskills-time3 {
    justify-content: center;
    margin-top: 4rem;
    margin-left: 8rem;
    color: aqua;
}

.hardskillsrij-1 img {
    margin-top: 3rem;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    margin-bottom: 5rem;
    border-radius: 20%;
    margin-left: 4rem;
}

.hardskillsrij-1 {
    display: flex;
    justify-content: center;
}

.hardskills-time4 {
    justify-content: center;
    margin-top: 4rem;
    margin-left: 8rem;
    color: aqua;
}

.hardskills-time5 {
    justify-content: center;
    margin-top: 4rem;
    margin-left: 8rem;
    color: aqua;
}

.hardskills-time6 {
    justify-content: center;
    margin-top: 4rem;
    margin-left: 8rem;
    color: aqua;
}

.hardskillsrij-2 img {
    margin-top: 3rem;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    margin-bottom: 5rem;
    border-radius: 20%;
    margin-left: 4rem;
    justify-content: center;
}

.hardskillsrij-2 {
    display: flex;
    justify-content: center;
}

hr {
    border: 2px solid pink;
}

.hardskills input {
    color: aqua;
    padding: 20px;
}