* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
    background-color: black;
}
.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    color: white;
    padding: 2rem 2rem;

}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 2rem;
    font-weight: bold;
}
.name{
    text-shadow: 0 0 25px aqua;
    transform: scale(1.1);
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    margin-left: 3rem;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav ul li a:hover {
    text-decoration: none;
}
.nav a:hover,
.nav a.active{
    color: aqua;
    border-bottom: solid aqua;
}
.case{
    margin-bottom: 50rem;
    padding-left: 35rem;
    color: white;
}
.case{
    text-shadow: 0 0 25px aqua;
    transform: scale(1.1);
}
.werkplekleren2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.linken img,
.figma img,
.miro img,
.zelfreflectie img {
    margin-top: 3rem;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    margin-bottom: 5rem;
    border-radius: 20%;
    margin-left: 4rem;
}

.miro img {
    width: 7rem;
    height: 7rem;
}

.zelfreflectie img {
    color: white;
    background-color: white;
}
.hardskills-container{
    display: flex;
    justify-content: center;
}
.hardskills-container h1 {
    margin-top: 5rem;
    padding-left: 2rem;
    color: white;
}
.hardskills-container h1{
    text-shadow: 0 0 25px aqua;
    transform: scale(1.1);
}

.hardskills-time4 {
    justify-content: center;
    margin-top: 4rem;
    margin-left: 8rem;
    color: aqua;
}

.hardskills-time5 {
    justify-content: center;
    margin-top: 4rem;
    margin-left: 8rem;
    color: aqua;
}

.hardskills-time6 {
    justify-content: center;
    margin-top: 4rem;
    margin-left: 8rem;
    color: aqua;
}

.hardskillsrij-2 img {
    margin-top: 3rem;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    margin-bottom: 5rem;
    border-radius: 20%;
    margin-left: 4rem;
    justify-content: center;
}

.hardskillsrij-2 {
    display: flex;
    justify-content: center;
}

.hardskills input {
    color: aqua;
    padding: 20px;
}

.hardskillsrij-2 img {
    margin-top: 3rem;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    margin-bottom: 5rem;
    border-radius: 20%;
    margin-left: 4rem;
    justify-content: center;
}
.hardskills progress{
    background-color: black;
    color: aqua;
}
.hardskillsrij-3 {
    display: flex;
    justify-content: center;
}

.hardskills input {
    color: aqua;
    padding: 20px;
}
.hardskillsrij-3 img {
    margin-top: 3rem;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    margin-bottom: 5rem;
    border-radius: 20%;
    margin-left: 4rem;
    justify-content: center;
}
.hardskills-time7 {
    justify-content: center;
    margin-top: 4rem;
    margin-left: 8rem;
    color: aqua;
}
.hardskills-time8 {
    justify-content: center;
    margin-top: 4rem;
    margin-left: 8rem;
    color: aqua;
}
.hardskills-time9 {
    justify-content: center;
    margin-top: 4rem;
    margin-left: 8rem;
    color: aqua;
}
