* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
    background-color: black;
}
.a{
    display: flex;
    object-fit: cover;
    margin-top: 5rem;
    padding-bottom: 5rem;
    padding-top: 50rem;
    margin-bottom: 50rem;
}
.logo{
    font-size: 3rem;
    color: white;
    font-weight: 800;
    transition: 0.3s;
    padding-left: 5rem;
    margin-left: 5rem;
    margin-bottom: 30rem;
    padding-bottom: 30rem;
    text-decoration: none;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px aqua;
}
.navbar{
    text-decoration: none;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-left: 25rem;
    margin-left: 20rem;
    padding-top: 1rem;
    font-weight: 500;
    transition: 0.3s ease;
}
.projecten{
    text-decoration: none;
    color: white;
}
.werkplekleren1{
    text-decoration: none;
    color: white;
}
.werkplekleren2{
    text-decoration: none;
    color: white;
}
.contact{
    text-decoration: none;
    color: white;
}
.navbar a:hover,
.navbar a.active{
    color: aqua;
    border-bottom: 3px solid aqua;
}
